@import url('https://fonts.googleapis.com/css?family=Montserrat:400,400i,600,600i,800,800i|Rajdhani:400,600,700');

$mainColor: rgb(50, 80, 220);
$secondaryColor: rgb(210, 40, 80);
$blackColor: rgb(25, 25, 25);
$whiteColor: rgb(245, 245, 245);
$grayColor: rgb(150, 150, 150);

$textFont: 'Rajdhani', sans-serif;
$titleFont: 'Montserrat', sans-serif;