@import '../../../public/variables.scss';

body {
    width: 100%;
    background-color: $blackColor;
}

.App {
    background-color: $blackColor;
    width: 100%;
    height: auto;
    min-height: auto;
    
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    
    .Home{
        //
    }
    
    .Error{
        //
    }

    .Movie{
        //
    }
    
}