@import '../../../public/variables.scss';

.SearchBar{
    
    width: 60%;
    height: 80px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    
    &__input{
        
        width: 100%;
        height: 50px;
        
        font-family: $textFont;
        font-weight: 600;
        color: $blackColor;
        font-style: italic;
        
        background-color: $grayColor;
        
        transition: .2s ease-in-out all;
        
        font-size: 14px;
        
        padding-left: 15px;
        
        border: none;
        
        &:hover{
            border: none;
            outline: none;
        }
        
        &:focus{
            background-color: $whiteColor;
        }
        
        &:placeholder-shown{
            font-family: $textFont;
            font-weight: 600;
            color: $blackColor;
            font-style: italic;
            
        }
        
    }
}