@import '../../../public/variables.scss';

.Movie {
    background-color: $blackColor;
    width: 100%;
    height: auto;
    min-height: auto;
    
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;

}